extends layout


block content
  footer
  section#pricing-table.section-page
    .container
      h2.title-list(style='font-size:40px;') PRE-INSCRITOS POSTMASTER
      .table-responsive
        table#listPM.table.table-prices
          thead
            tr
              td
                | Nombres
              td
                | Apellidos
              td
                | Nombres [R]
              td
                | Apellidos [R]
              td
                | DNI
              td
                | Institución
              td
                | email
              td
                | Celular
              td
                | Tipo 
          if   user
            tbody
              each users in user
                tr
                  td
                    h4  #{users.name}
                  td
                    h4  #{users.lastname}
                  td
                    h4#nameReniec
                  td
                    h4#lastnameReniec
                  td
                    h4.dniReniec #{users.dni}
                  td
                    h4  #{users.institute}
                  td
                    h4  #{users.email}
                  td
                    h4  #{users.cellphone}
                  td
                    h4  #{users.type}
                  ul
      button.list-button(onclick="tableToExcel('listPM','POSTMASTER : LISTA DE PRE-INSCRITOS')") EXPORTAR
      //- img(src='http://localhost:3000/uploads/Wz8SmkLaI6wpr93jzzvQCn64MLcP6s8E.png', alt='Smiley face', height='100', width='100')
      //- 
      //- form#photoForm(method="post",name="photo",action='photo',onsubmit='createPhoto()', enctype="multipart/form-data")
      //-   h3  Foto
      //-     | Tu foto de boleta
      //-     input#photoUp(type='file',name='photo', style='color:black;', required='')
      //- input(type='submit',name='submit',value='Enviar')
